.portfolioBackground {
    background-image: url('../../assets/images/tree.jpg');
    background-position:center;
    background-size: cover;
    padding:0px;
}
  
.centerCol {
/* background-color: #6f9cebff; */
background-color: #B4CDED;
}

@media only screen and (max-width:402px) {
    .sideColResume {
      display:none;
    }
}