/* .sideCol {
    background-color: #0D1821;
}
  
.colCenter {
    background-color: #6f9cebff;
}

@media only screen and (max-width:380px) {
    .sideCol {
        display:none;
    }
}

.card-img-top:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
} */

.card {
    background-color: #424c55ff;
}
